<div class="login-container">
    <div class="left-section">
        <div class="main-container full-height">
            <div class="row no-margin">
                <div class="logo-top">
                    <img src="../img/b_logo_white.png">
                </div>
            </div>
            <div class="row no-margin">
                <p class="no-margin header">Alianza para la FP Dual</p>
            </div>
            <div class="row full-height">
                <div class="main-content">
                    <p class="main-title">El espacio de la Alianza para fomentar la FP Dual</p>
                    <p class="content">Únete a la Alianza y nos pondremos en contacto contigo para ayudarte en el proceso de convertirte en miembro de la Alianza por la FP Dual.</p>        
                </div>
            </div>
            <div class="row footer no-margin">
                <div class="content">
                    <p class="no-margin">una plataforma impulsada por </p>
                    <p class="no-margin">la <b>Fundación Bertelsmann</b> </p>
                </div>
                <div class="logo">
                    <img src="../img/b_logo.png">
                </div>
            </div>
        </div>
    </div>
     <div class="right-section">
        <div class="main-title">
            <span>Recuperación de contraseña</span>
        </div>
        <recover-password-form [actionButtonName]="actionButtonName"
                               (onSubmitEvent)="onSubmit($event)"></recover-password-form>
        <div class="footer">
            <p><a href="/login">Inicia sesión aquí</a> si ya tienes cuenta.</p>
        </div>
    </div>
</div>