<form [formGroup]="recoverPasswordForm">
    <div class="section center section-content">
        <div class="row">
            <div class="input-field col s12">
                <input type="password" formControlName="password" required class="validate">
                <label>Escribe tu nueva contraseña</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input type="password" formControlName="confirmPassword" required class="validate" [ngClass]="{'invalid' : !isValidPassword}" (blur)="checkPassword()">
                <label data-error="Repite la contraseña incorrecto.">Repite la contraseña</label>
            </div>
        </div>
    </div>
    <div class="section right">
        <a class="button-rounded waves-effect waves-light btn" [ngClass]="{'disabled': !recoverPasswordForm.valid || !isValidPassword}" style="padding:0px 45px 0px 20px" >
            <div class="button-text" (click)="onRecover(recoverPasswordForm.value)"  [ngClass]="{'disabled': !recoverPasswordForm.valid || !isValidPassword}">{{actionButtonName}}<i class="material-icons combined-shape">keyboard_arrow_right</i>
            </div>
        </a>
    </div>
</form>