<form [formGroup]="requestRecoverPasswordForm">
    <div class="section center section-content">
        <div class="row">
            <div class="input-field col s12">
                <input id="email" type="email" formControlName="username" class="validate" required>
                <label for="email" data-error="Compruebe el email">Email</label>
            </div>
        </div>
    </div>
    <div class="section right">
        <a class="button-rounded waves-effect waves-light btn" [ngClass]="{'disabled': !requestRecoverPasswordForm.valid}" style="padding:0px 45px 0px 20px" >
            <div class="button-text" (click)="onSubmit(requestRecoverPasswordForm.value)"  [ngClass]="{'disabled': !requestRecoverPasswordForm.valid}">{{actionButtonName}}<i class="material-icons combined-shape">keyboard_arrow_right</i>
            </div>
        </a>
    </div>
</form>